---
const { title, content } = Astro.props;
---
<section class="p-4 pt-20 pb-20 md:pt-32 md:pb-32 max-w-full md:max-w-none text-center">
    <h2 
      class="font-light mb-2 text-[20px] md:text-[36px] text-[#1100FF]"
      style="font-family: 'Helvetica', sans-serif;"
    >
      Denne side beviser, at godt design kan <br /> klare sig uden tunge billeder og unødig databelastning.<br />
      <br />
      Vil du være med?  <br />Ryd op i dit digitale forbrug!
    </h2>
  </section>
  
