---

---

<article class="max-w-7xl mx-auto px-10 md:px-[40px] lg:px-[100px]">
  <p class="text-center text-[12px] md:text-[33px]">Siden 2020 har 175 lande deltaget i Digital Cleanup Day.  1.2 millioner mennesker har slettet 14.5 millioner GB data og sparet 3.625 tons CO₂ årligt.</p>
  <br />
  <br />
  <section class="grid grid-cols-3 m-80px">
    <div class="flex flex-col justify-between">
      <img src="/public/grafik/skraldespand_footer.svg" alt="billede" />
    </div>
    <div class="md:grid grid-cols-4 gap-4">
      <p class="decoration-[#1100FF] text-blue-700 underline underline-offset-1">Facebook</p>
      <p class="decoration-[#1100FF] text-blue-700 underline underline-offset-1">Instagram</p>
      <p class="decoration-[#1100FF] text-blue-700 underline underline-offset-1">Linkeind</p>
      <p class="decoration-[#1100FF] text-blue-700 underline underline-offset-1">Youtube</p>
    </div>
  </section>
</article>
