---

---

<article class="max-w-7xl mx-auto px-10 md:px-[40px] lg:px-[100px] p-12px">
  <section class="max-w-7xl mx auto grid grid-cols-2 md:grid-cols-2 p-12px">
    <div class="">
      <img src="/public/grafik/skraldespand_footer.svg" class="w-32 md:w-48 lg:w-30" alt="billede" />
    </div>

    <div>
      <p class="text-[12px] md:text-[20px]">Siden 2020 har 175 lande deltaget i Digital Cleanup Day.  1.2 millioner mennesker har slettet 14.5 millioner GB data og sparet 3.625 tons CO₂ årligt.</p>
    </div>
  </section>

  <section class="max-w-5xl mx-auto px-5 md:px-[40px] lg:px-[100px]">
    <br />
    <br />
    <div class="md:grid grid-cols-4 gap-4 text-center">
      <p class="decoration-[#1100FF] text-blue-700 underline underline-offset-1">Facebook</p>
      <p class="decoration-[#1100FF] text-blue-700 underline underline-offset-1">Instagram</p>
      <p class="decoration-[#1100FF] text-blue-700 underline underline-offset-1">Linkeind</p>
      <p class="decoration-[#1100FF] text-blue-700 underline underline-offset-1">Youtube</p>
    </div>
  </section>
</article>
<br />
<br />
<br />
