---

---

<div x-data="{ showmenu: false }" class="p-4 fixed lg:static w-full bg-white">
  <header id="navbar" class="flex flex-row justify-between items-center">
    <div id="logo">
      <a href="/">
        <img class="w-7 lg:w-10" src="/grafik/skraldespand_footer.svg" alt="Skraldespand Logo" />
      </a>
    </div>
    <nav id="desktopmenu" class="hidden lg:block">
      <ul class="flex flex-row gap-6 font-bold text-lg lg:text-xl">
        <li><a href="/" class="hover:text-[#1100FF] transition">RESSOURCER</a></li>
        <li><a href="https://worldcleanupday.dk/" class="hover:text-[#1100FF] transition">WORLD CLEAN UP DAG</a></li>
        <li><a href="/stepbystep" class="hover:text-[#1100FF] transition">HVORDAN DELTAGER DU?</a></li>
      </ul>
    </nav>
    <button id="burgermenu" class="lg:hidden" x-on:click="showmenu = !showmenu" aria-expanded="showmenu">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
      </svg>
    </button>
  </header>
  <nav id="mobilmenu" class="flex flex-col content-center pt-4" x-show="showmenu" x-transition x-on:click.outside="showmenu = false">
    <ul class="text-center font-bold bg-white">
      <li><a href="/" class="hover:text-[#1100FF] transition">RESSOURCER</a></li>
      <li><a href="https://worldcleanupday.dk/" class="hover:text-[#1100FF] transition">WORLD CLEAN UP DAG</a></li>
      <li><a href="/stepbystep" class="hover:text-[#1100FF] transition">HVORDAN DELTAGER DU?</a></li>
    </ul>
  </nav>
</div>
