<article class="max-w-7xl mx-auto px-10 md:px-[40px] lg:px-[100px]">
  <section class="grid grid-cols-3 gap-4">
    <div class="flex flex-col justify-between">
      <img src="/public/grafik/skraldespand_stor.svg" alt="" />
    </div>
    <div>
      <h1 class="font-(family-name:helvetica) font-regular font-weight text-[36px] md:text-[130px]">DIGITAL</h1>
      <div class="justify-items-end space-y-4">
        <h1 class="font-(family-name:helvetica) text-right font-regular font-weight text-[36px] md:text-[130px]">SKRALDE</h1>
      </div>
      <h1 class="font-(family-name:helvetica) text-right font-regular font-weight text-[36px] md:text-[130px]">DAG</h1>
    </div>
  </section>

  <p class="font-weight text-left text-[24px] md:text-[64px]">Save the date</p>
  <p class="font-bold font-weight text-right text-[24px] md:text-[64px]">15 marts 2025</p>
</article>
