<article class="max-w-7xl mx-auto px-10 md:px-[40px] lg:px-[100px] pt-20 md:pt-0">
  <div class="absolute inset-0 bg-[linear-gradient(to_right,rgba(0,0,0,0.2)_1px,transparent_1px),linear-gradient(to_bottom,rgba(0,0,0,0.2)_1px,transparent_1px)] bg-[size:80px_80px] pointer-events-none"></div>
    <section class="grid grid-cols-3 gap-4">
      <div class="flex flex-col justify-between">
        <img src="grafik/skraldespand_stor.svg" alt="" />
      </div>
      <div>
        <h1 class="font-(family-name:helvetica) font-regular font-weight text-[40px] md:text-[130px] md:relative -left-[50px]">DIGITAL</h1>
        <div class="justify-items-end space-y-4">
          <h1 class="font-(family-name:helvetica) text-right font-regular font-weight text-[40px] md:relative -right-[55px]  md:text-[130px]">SKRALDE</h1>
        </div>
        <h1 class="font-(family-name:helvetica) text-right font-regular font-weight text-[40px] md:text-[130px] md:pl-37">DAG</h1>
      </div>
    </section>
  
    <div class="md:relative -top-[140px] pb-10 md:pb-0">
    <p class="font-bold font-weight text-right text-[15px] md:text-[32px] ">Save the date</p>
    <p class="font-weight text-right text-[15px] md:text-[32px] ">15 marts 2025</p>
</div>
  </article>
  