---
const { title, content } = Astro.props;
---
<section class="p-4 max-w-full md:max-w-none text-left">
  <h2 
    class=" mb-2 text-[20px] md:text-[64px] text-[#1100FF]"
  >
    HVAD ER DIGITAL SKRALDE DAG?
  </h2>
  <p 
    class="text-black text-[12px] md:text-[36px] leading-relaxed"
  >
    Digital Cleanup Day er en dag dedikeret til at rydde op i vores digitale liv, ligesom vi rydder op i vores fysiske miljø på World Cleanup Day.  
    <br />
    Nu i sit femte år og organiseret af Let’s Do It World, har Digital Cleanup Day til formål at øge bevidstheden om digital forurening og opfordre både enkeltpersoner og virksomheder til at rydde op og omstrukturere deres online tilstedeværelse.
  </p>
</section>

