---
const { title, content } = Astro.props;
---

<section class="info-box">
  <h2>HVAD ER DIGITAL SKRALDE DAG?</h2>
  <p>{Digital Cleanup Day er en dag dedikeret til at rydde op i vores digitale liv, ligesom vi rydder op i vores fysiske miljø på World Cleanup Day.
Nu i sit femte år og organiseret af Lets Do It World, har Digital Cleanup Day til formål at øge bevidstheden om digital forurening og opfordre både enkeltpersoner og virksomheder til at rydde op og omstrukturere deres online tilstedeværelse.}</p>
</section>

<style>
  .info-box {
    border-left: 3px solid #0000FF;
    padding: 1rem;
    max-width: 600px;
    margin: auto;
  }

  h2 {
    color: #0000FF;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  p {
    font-size: 1rem;
    color: #333;
    line-height: 1.6;
  }
</style>