---
const { title, content } = Astro.props;
---
<section class="p-4 max-w-full md:max-w-none text-left md:pl-[100px]">
    <h2 class="mb-2 text-[20px] md:text-[64px] text-[#1100FF]">
      HVAD ER DIGITAL SKRALDE DAG?
    </h2>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8 md:gap-16">
      <p class="text-black text-[14px] md:text-[20px] leading-relaxed mb-10 md:mb-16 col-span-1">
        Digital Cleanup Day er en dag dedikeret til at rydde op i vores digitale liv, ligesom vi rydder op i vores fysiske miljø på World Cleanup Day.  
        <br />
        <br />
        Nu i sit femte år og organiseret af Let’s Do It World, har Digital Cleanup Day til formål at øge bevidstheden om digital forurening og opfordre både enkeltpersoner og virksomheder til at rydde op og omstrukturere deres online tilstedeværelse.
      </p>
    </div>
  </section>
  
  

